*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.mb-sm {
  margin-bottom: 1.25rem;
}

.mb-md {
  margin-bottom: 1.875rem;
}

.mb-lg {
  margin-bottom: 2.5rem;
}

.btn {
  border: none;
  border-radius: 0;
  padding: 1.125rem 1.875rem;
  color: #fff;
  background-color: #c69963;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9375rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #b28451;
}
@media only screen and (max-width: 37.5em) {
  .btn {
    font-size: 0.875rem;
    padding: 0.9rem 1.5rem;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #6D5D4B;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [side-start] 5rem [side-end full-start] minmax(3.75rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 8.75rem) [col-end]) [center-end] minmax(3.75rem, 1fr) [full-end];
}
@media only screen and (max-width: 68.75em) {
  .container {
    grid-template-columns: [side-start] 4rem [side-end full-start] minmax(3.75rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 8.75rem) [col-end]) [center-end] minmax(3.75rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 62.5em) {
  .container {
    grid-template-rows: 3rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(3.75rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 8.75rem) [col-end]) [center-end] minmax(3.75rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 56.25em) {
  .container {
    grid-template-rows: 3rem calc(100vh - 3rem);
    grid-template-columns: [full-start] minmax(3.75rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 8.75rem) [col-end]) [center-end] minmax(3.75rem, 1fr) [full-end];
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.8125rem;
  color: #f9f7f6;
}

h2 {
  font-size: 2.5rem;
  font-style: italic;
  line-height: 1;
}

h3 {
  font-size: 1rem;
  color: #c69963;
  text-transform: uppercase;
}

h4 {
  font-size: 1.1875rem;
}
h4.light {
  color: #f9f7f6;
}
h4.dark {
  color: #54483A;
}

@media only screen and (max-width: 62.5em) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.0625rem;
  }
}
.header {
  grid-column: full-start/col-end 6;
  padding: 5rem;
  padding-top: 2.5rem;
  background: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr repeat(2, min-content) 1fr;
  gap: 0.9375rem;
}
@media only screen and (max-width: 56.25em) {
  .header {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    grid-column: full-start/full-end;
  }
}
.header h1 {
  line-height: 1.6;
}
@media only screen and (max-width: 37.5em) {
  .header h1 {
    line-height: 1.2;
  }
}
.header__logo {
  height: 1.875rem;
  justify-self: center;
}
.header .btn {
  align-self: start;
  justify-self: start;
}
.header__seenon-text {
  color: #aaa;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  gap: 1rem;
}
.header__seenon-text::before, .header__seenon-text::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  height: 1px;
  background: currentColor;
}
.header__seenon-logos {
  display: flex;
  justify-content: space-around;
}
.header__seenon-logos img {
  height: 1.5625rem;
  filter: brightness(70%);
}
@media only screen and (max-width: 68.75em) {
  .header__seenon-logos img {
    height: 1.3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__seenon-logos img {
    height: 0.8rem;
  }
}

.footer {
  grid-column: full-start/full-end;
  padding: 5rem;
  background: #101d2c;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 3.75rem;
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1.25rem;
  align-items: center;
}
.nav__item {
  padding: 0.9375rem;
  text-align: center;
  transition: all 0.1s ease-out;
}
.nav__item:hover {
  transform: translateY(-0.3rem);
  background: rgba(117, 89, 89, 0.05);
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__link {
    font-size: 0.75rem;
  }
}
.nav__link:link, .nav__link:visited {
  color: #fff;
}

.copyright {
  width: 70%;
  margin: 0 auto;
  margin-top: 3.75rem;
  color: #aaa;
  font-size: 0.9375rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
@media only screen and (max-width: 62.5em) {
  .copyright {
    width: 90%;
  }
}

.sidebar {
  grid-row: 1/-1;
  grid-column: side-start/side-end;
  background: #c69963;
}
@media only screen and (max-width: 62.5em) {
  .sidebar {
    grid-column: full-start/full-end;
    grid-row: 1/2;
  }
}

.nav-btn {
  position: relative;
  display: block;
  width: 2.75rem;
  height: 2px;
  margin: 2.6rem auto;
  border: none;
  background: #fff;
}
.nav-btn::before, .nav-btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background: #fff;
}
.nav-btn::before {
  top: -0.9rem;
}
.nav-btn::after {
  top: 0.9rem;
}
@media only screen and (max-width: 62.5em) {
  .nav-btn {
    margin: 1.5rem 1.5rem 0 auto;
    width: 2rem;
  }
  .nav-btn::before {
    top: -0.6rem;
  }
  .nav-btn::after {
    top: 0.6rem;
  }
}

.realtors {
  grid-column: col-start 7/full-end;
  background: #101d2c;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  row-gap: 1.24rem;
}
@media only screen and (max-width: 56.25em) {
  .realtors {
    grid-column: full-start/full-end;
    padding: 3.75rem 0;
    row-gap: 2rem;
  }
}
.realtors__list {
  display: grid;
  grid-template-columns: min-content max-content;
  row-gap: 2rem;
  column-gap: 1.25rem;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .realtors__list {
    grid-template-columns: repeat(3, min-content max-content);
  }
}
@media only screen and (max-width: 37.5em) {
  .realtors__list {
    grid-template-columns: min-content max-content;
  }
}
.realtors__img {
  width: 4.375rem;
  max-width: unset;
  border-radius: 50%;
}
@media only screen and (max-width: 56.25em) {
  .realtors__img {
    width: 3.5rem;
  }
}
.realtors__sold {
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #aaa;
}

.features {
  grid-column: center-start/center-end;
  margin: 9.375rem 0;
  display: grid;
  gap: 3.75rem;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  align-items: start;
}
@media only screen and (max-width: 56.25em) {
  .features {
    margin: 6.25rem 0;
  }
}

.feature {
  display: grid;
  row-gap: 0.8rem;
  column-gap: 1.5rem;
  grid-template-columns: min-content 1fr;
}
.feature > h4 {
  align-self: center;
}
.feature__icon {
  fill: #c69963;
  width: 2.8125rem;
  height: 2.8125rem;
}
.feature__text {
  grid-column: 2/-1;
  font-size: 1.0625rem;
}
@media only screen and (max-width: 62.5em) {
  .feature__text {
    font-size: 0.9375rem;
  }
}

.story__picture {
  grid-column: full-start/col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .story__picture {
    grid-row: 6/7;
    grid-column: full-start/full-end;
    padding: 3.75rem;
  }
}
.story__picture--1 {
  grid-column: 2/6;
  grid-row: 2/6;
  box-shadow: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 56.25em) {
  .story__picture--1 {
    grid-row: 1/-1;
    grid-column: 1/5;
  }
}
.story__picture--2 {
  grid-column: 4/7;
  grid-row: 4/6;
  transform: scale(1.15);
  transform-origin: left;
  box-shadow: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 56.25em) {
  .story__picture--2 {
    grid-row: 2/6;
    transform: none;
  }
}
.story__content {
  grid-column: col-start 5/full-end;
  background: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: start;
  align-content: center;
}
@media only screen and (max-width: 56.25em) {
  .story__content {
    grid-row: 5/6;
    grid-column: full-start/full-end;
    padding: 3.75rem 0;
  }
}
.story__content > * {
  grid-column: 2/6;
}
.story__content p {
  font-size: 0.9375rem;
  font-style: italic;
}

.homes {
  grid-column: center-start/center-end;
  margin: 9.375rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 4.375rem;
  font-size: 0.9375rem;
  line-height: 1;
}
@media only screen and (max-width: 56.25em) {
  .homes {
    margin: 6.25rem 0;
  }
}

.home {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.1875rem;
  background: #f9f7f6;
}
.home img {
  grid-row: 1/2;
  grid-column: 1/-1;
}
.home .btn {
  grid-column: 1/-1;
}
.home__like {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 1.5625rem;
  height: 1.5625rem;
  fill: #c69963;
}
.home__name {
  grid-row: 1/2;
  grid-column: 1/-1;
  align-self: end;
  justify-self: center;
  width: 80%;
  padding: 1rem;
  color: #fff;
  background: #101d2c;
  font-size: 1rem;
  text-align: center;
  transform: translateY(50%);
}
.home__location, .home__rooms, .home__area, .home__price {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
}
.home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
  fill: #c69963;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.9rem;
}
.home__location, .home__rooms {
  margin-top: 1.5625rem;
}

.gallery {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 0.93575rem;
  padding: 0.9375rem;
  background: #f9f7f6;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item--1 {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.gallery__item--2 {
  grid-row: 1/span 3;
  grid-column: 3/span 3;
}
.gallery__item--3 {
  grid-row: 1/span 2;
  grid-column: 6/7;
}
.gallery__item--4 {
  grid-row: 1/span 2;
  grid-column: 7/-1;
}
.gallery__item--5 {
  grid-row: 3/span 3;
  grid-column: 1/span 2;
}
.gallery__item--6 {
  grid-row: 4/span 2;
  grid-column: 3/span 2;
}
.gallery__item--7 {
  grid-row: 4/5;
  grid-column: 5/6;
}
.gallery__item--8 {
  grid-row: 3/span 2;
  grid-column: 6/span 2;
}
.gallery__item--9 {
  grid-row: 3/span 3;
  grid-column: 8/-1;
}
.gallery__item--10 {
  grid-row: 6/span 2;
  grid-column: 1/2;
}
.gallery__item--11 {
  grid-row: 6/span 2;
  grid-column: 2/span 2;
}
.gallery__item--12 {
  grid-row: 6/span 2;
  grid-column: 4/5;
}
.gallery__item--13 {
  grid-row: 5/span 3;
  grid-column: 5/span 3;
}
.gallery__item--14 {
  grid-row: 6/span 2;
  grid-column: 8/-1;
}
