// COLOR
$clr-primary-900: #b28451;
$clr-primary-100: #c69963;

$clr-secondary-900: #101d2c;

$clr-grey-light-900: #aaa;
$clr-grey-light-100: #f9f7f6;

$clr-grey-dark-900: #54483A;
$clr-grey-dark-100: #6D5D4B;

// FONT FAMILY
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;