@use '../abstracts/' as *;

.footer {
    grid-column: full-start / full-end;

    padding: 5rem;
    background: $clr-secondary-900;

    @include mq(beta) {
        padding: 3.75rem;
    }
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.25rem;
    align-items: center;

    &__item {
        padding: .9375rem;
        text-align: center;
        transition: all .1s ease-out;

        &:hover {
            transform: translateY(-.3rem);
            background: rgba(117, 89, 89, 0.05);
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .875rem;

        @include mq(alpha) {
            font-size: .75rem;
        }
    }

    &__link:link,
    &__link:visited {
        color: #fff;
    }
}

.copyright {
    width: 70%;
    margin: 0 auto;
    margin-top: 3.75rem;
    color: $clr-grey-light-900;
    font-size: .9375rem;
    font-family: $font-secondary;
    text-align: center;

    @include mq(gamma) {
        width: 90%;
    }
}
