@use '../abstracts/' as *;

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-secondary;
    font-weight: 400;
}

h1 {
    font-size: 2.8125rem;
    color: $clr-grey-light-100;
}

h2 {
    font-size: 2.5rem;
    font-style: italic;
    line-height: 1;
}

h3 {
    font-size: 1rem;
    color: $clr-primary-100;
    text-transform: uppercase;
}

h4 {
    font-size: 1.1875rem;

    &.light { color: $clr-grey-light-100;}
    &.dark { color: $clr-grey-dark-900;}
}

@include mq(gamma) {
    h1 { font-size: 2.5rem; }
    h2 { font-size: 2.25rem; }
    h4 { font-size: 1.0625rem; }
}