@use '../abstracts/' as *;

///////////////////////////////
// SIDEBAR
.sidebar {
    grid-row: 1 / -1;
    grid-column: side-start / side-end;
    background: $clr-primary-100;

    @include mq(gamma) {
        grid-column: full-start / full-end;
        grid-row: 1 / 2;
    }
}

.nav-btn {
    position: relative;
    display: block;
    @include box(2.75rem, 2px);
    margin: 2.6rem auto;
    border: none;
    background: #fff;

    &::before,
    &::after {
        @include pseudo;
        position: absolute;
        left: 0;
        background: #fff;
    }

    &::before { top: -.9rem; }
    &::after { top: .9rem; }

    @include mq(gamma) {
        margin: 1.5rem 1.5rem 0 auto;
        width: 2rem;

        &::before { top: -.6rem; }
        &::after { top: .6rem; }
    }
}

///////////////////////////////
// REALTORS
.realtors {
    grid-column: col-start 7 / full-end;
    background: $clr-secondary-900;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    row-gap: 1.24rem;

    @include mq(beta) {
        grid-column: full-start / full-end;
        padding: 3.75rem 0;
        row-gap: 2rem;
    }

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        row-gap: 2rem;
        column-gap: 1.25rem;
        align-items: center;

        @include mq(beta) {   
            grid-template-columns: repeat(3, min-content max-content);
        }

        @include mq(alpha) {
            grid-template-columns: min-content max-content;
        }
    }

    &__img {
        width: 4.375rem;
        max-width: unset;
        border-radius: 50%;

        @include mq(beta) {
            width: 3.5rem;
        }
    }

    &__sold {
        font-size: .625rem;
        text-transform: uppercase;
        color: $clr-grey-light-900;
    }
}

///////////////////////////////
// FEATURES SECTION
.features {
    grid-column: center-start / center-end;
    margin: 9.375rem 0;

    display: grid;
    gap: 3.75rem;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    align-items: start;

    @include mq(beta) {
        margin: 6.25rem 0;
    }
}

.feature {
    display: grid;
    row-gap: .8rem;
    column-gap: 1.5rem;
    grid-template-columns: min-content 1fr;
    
    & > h4 { align-self: center; }

    &__icon {
        fill: $clr-primary-100;
        @include box (2.8125rem);
    }

    &__text {
        grid-column: 2 / -1;
        font-size: 1.0625rem;

        @include mq(gamma) {
            font-size: .9375rem;
        }
    }
}

///////////////////////////////
// STORY SECTION
.story {
    &__picture {
        grid-column: full-start / col-end 4;
        background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
        background-size: cover;

        display:grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;

        @include mq(beta) {
            grid-row: 6 / 7;
            grid-column: full-start / full-end;
            padding: 3.75rem;
        }

        &--1{
            grid-column: 2 / 6;
            grid-row: 2 / 6;
            box-shadow: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.1);

            @include mq(beta) {
                grid-row: 1 / -1;
                grid-column: 1 / 5;
            }
        }
        &--2 {
            grid-column: 4 / 7;
            grid-row: 4 / 6;
            transform: scale(1.15);
            transform-origin: left;
            box-shadow: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.2);

            @include mq(beta) {
                grid-row: 2 / 6;
                transform: none;
            }
        }
    }

    &__content {
        grid-column: col-start 5 / full-end;
        background: $clr-grey-light-100;

        display:grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: start;
        align-content: center;

        @include mq(beta) {
            grid-row: 5 / 6;
            grid-column: full-start / full-end;
            padding: 3.75rem 0;
        }

        & > * { grid-column: 2 / 6; }
        p {
            font-size: .9375rem;
            font-style: italic;
        }
    }
}

///////////////////////////////
// HOMES SECTION
.homes {
    grid-column: center-start / center-end;
    margin: 9.375rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: 4.375rem;
    font-size: .9375rem;
    line-height: 1;

    @include mq(beta) {
        margin: 6.25rem 0;
    }
}

.home {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.1875rem;
    background: $clr-grey-light-100;

    img {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }

    .btn {
        grid-column: 1 / -1;
    }

    &__like {
        @include absolute(tr, .8rem, .8rem);
        @include box(1.5625rem);
        fill: $clr-primary-100;
    }

    &__name {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        align-self: end;
        justify-self: center;

        width: 80%;
        padding: 1rem;
        color: #fff;
        background: $clr-secondary-900;
        font-size: 1rem;
        text-align: center;
        transform: translateY(50%);
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
        display: flex;
        align-items: center;
        margin-left: 1.25rem;
        
        svg {
            fill: $clr-primary-100;
            @include box(1.25rem);
            margin-right: .9rem;
        }
    }

    &__location,
    &__rooms {
        margin-top: 1.5625rem;
    }
}

///////////////////////////////
// GALLERY SECTION
.gallery {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    gap: .93575rem;
    padding: .9375rem;
    background: $clr-grey-light-100;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__item {
        &--1 {
            grid-row: 1 / span 2;
            grid-column: 1 / span 2;
        }

        &--2 {
            grid-row: 1 / span 3;
            grid-column: 3 / span 3;
        }

        &--3 {
            grid-row: 1 / span 2;
            grid-column: 6 / 7;
        }

        &--4 {
            grid-row: 1 / span 2;
            grid-column: 7 / -1;
        }

        &--5 {
            grid-row: 3 / span 3;
            grid-column: 1 / span 2;
        }

        &--6 {
            grid-row: 4 / span 2;
            grid-column: 3 / span 2;
        }

        &--7 {
            grid-row: 4 / 5;
            grid-column: 5 / 6;
        }

        &--8 {
            grid-row: 3 / span 2;
            grid-column: 6 / span 2;
        }

        &--9 {
            grid-row: 3 / span 3;
            grid-column: 8 / -1;
        }

        &--10 {
            grid-row: 6 / span 2;
            grid-column: 1 / 2;
        }

        &--11 {
            grid-row: 6 / span 2;
            grid-column: 2 / span 2;
        }

        &--12 {
            grid-row: 6 / span 2;
            grid-column: 4 / 5;
        }

        &--13 {
            grid-row: 5 / span 3;
            grid-column: 5 / span 3;
        }

        &--14 {
            grid-row: 6 / span 2;
            grid-column: 8 / -1;
        }
    }
}